{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Password Reset Complete</h3>
  <div class="col-sm-6 offset-sm-1">
  <h3>Password Changed Succesfully</h3>
  <div><iframe src="https://giphy.com/embed/3o6nV9IUiNn1LCjSak" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/teamcoco-conan-obrien-mission-accomplished-3o6nV9IUiNn1LCjSak" width='200' height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe></div>  
  </div>
  </div>
 </div>
</div>
{% endblock main-content %}